.modal-content {
    background: linear-gradient(135deg, #f0f0f0, #d9d9d9);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.5s;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

.remove-button {
    background-color: #ff4d4d; /* Красный цвет для удаления */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #ff1a1a; /* Более темный красный при наведении */
}

.total-price {
    margin-top: 20px;
    font-size: 18px;
}

.checkout-button {
    background-color: #4CAF50; /* Зеленый цвет для оформления заказа */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
}
