:root {
    --primary-color: steelblue;
    --hover-color: steelblue;
    --footer-background: steelblue;
    --item-background: #f5f5dc;
    --item-hover-background: #e0e0e0;
    --border-radius: 5px;
    --padding-small: 5px;
    --padding-medium: 10px;
    --padding-large: 20px;
}

/*/ Сброс стилей /*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*/ Основная структура приложения /*/
.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/*/ Основной контент /*/
main {
    flex: auto;
    padding: initial;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    background: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*/ Заголовок /*/
.header {
    background-color: steelblue;
    padding: var(--padding-large);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    flex: 1;
}

.button-container {
    display: inline-grid;
    gap: 10px;
}

/*/ Кнопки /*/
button {
    background-color: darkslateblue;
    color: white;
    padding: var(--padding-small) 15px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background 0.3s;
    width: 200px;
}

button:hover {
    background: var(--hover-color);
}

.App button {
    border-radius: var(--border-radius);
}

/*/ Подвал /*/
.footer {
    text-align: center;
    padding: var(--padding-small) 10px;
    background: var(--footer-background);
}

/*/ Элементы списка /*/
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-medium);
    margin-bottom: 15px;
    background: var(--item-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    border-radius: var(--border-radius);
}

.item:hover {
    background: var(--item-hover-background);
}

.item label {
    flex: 1;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
}

.item input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.item input:focus {
    border-color: #007bff;
}

.item svg {
    width: 38px;
    height: 38px;
    font-size: 16px;
    cursor: pointer;
    color: steelblue;
}

.item svg:hover {
    color: red;
}

/*/ Формы /*/
form {
    text-align: right;
}

/*/ Кнопки регистрации и входа /*/
button.register,
button.registered,
button.login,
button.logout {
    text-align: center;
    background-color: darkslateblue;
    color: white;
    padding: var(--padding-small);
    border-radius: var(--border-radius);
    cursor: pointer;
    float: right;
}

button.register:hover,
button.registered:hover,
button.login:hover,
button.logout:hover {
    background-color: cornflowerblue;
}


