* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
    background: white;
}
/*------------------------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.header img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.left-section {
    margin-right: auto;
}

.logo {
    margin: 0 20px;
}

.nav-links ul {
    list-style: none;
    display: contents;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

/*--------------------------------------------------------------------*/

.footer {
    text-align: center;
    padding: 0px 10px;
    background: darksalmon;
}

.item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    margin-bottom: 15px;
    background: #f5f5dc;
    transition: background 0.3s;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.item:hover {
    background: #e0e0e0;
}

.item label {
    flex: 1;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
}

.item input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.item input:focus {
    border-color: #007bff;
}

.item svg {
    width: 38px;
    height: 38px;
    font-size: 16px;
    cursor: pointer;
    color: steelblue;
}

.item svg:focus,
.item svg:hover {
    color: red;
    outline: none;
}

.App button {
    border-radius: 5px;
    width: 200px;
    transition: background 0.3s;
    margin: 5px;
    background: orange;
    color: white;
    border: none;
}

button:hover {
    background: darkorange;
}


form {
    text-align: right;
}

button.register {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin: 20px 20px;
}

button.register:hover {
    background-color: #45a049;
}

button.registered {
    text-align: center;
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin: 20px 20px;
}

button.registered:hover {
    background-color: darkorange;
}

.input {
    margin: 20px 5px 5px;
    border-radius: 5px;
}

button.login {
    border: none;
}

button.logout {
    border: none;
}