 .footer {
    background-color: steelblue; /* Темный фон для контраста */
    color: black;
    padding: 10px; /* Уменьшенные отступы для меньшей высоты */
    text-align: center; /* Центрирование текста */
    bottom: 0; /* Прикрепление к низу страницы */
    width: 100%; /* Ширина на всю страницу */
}

.footer .year {
    margin: 0; /* Убираем отступы */
    font-size: 14px; /* Уменьшаем размер шрифта */
    font-weight: bold; /* Жирный текст для акцента */
}

.info {
    padding: 0;
    margin-top: 0; /* Отступ сверху для разделения с годом */
}

.info p {
    margin: 0; /* Отступы между строками информации */
}
