.styled-link {
    background-color: lightskyblue; /* Цвет фона */
    padding: 5px 10px; /* Внутренние отступы */
    border-radius: 5px; /* Скругленные углы */
    color: black; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    margin: 3px; /* Внешние отступы */
    display: inline-block; /* Позволяет кнопке подстраиваться под размер текста */
    transition: background-color 0.3s ease, transform 0.2s; /* Плавные переходы */
}

.styled-link:hover {
    background-color: cornflowerblue; /* Цвет фона при наведении */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тень для глубины */
}

.styled-link:active {
    transform: scale(0.95); /* Уменьшение при нажатии */
}